@import "../../index.scss";

.header {
    display: flex;
    gap: 10px;
    align-items: baseline;

    &__text {
        font-size: 2.4rem;
    }

    &__date {
        font-size: 1.2rem;
        color: $grey-dark;
    }
}

