@import "../../index.scss";

.todo__create {
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;

    &:hover {
        & .todo__create__button {
            background-color: $primary;
            color: $white;
        }

        & .todo__create__text {
            color: $primary;
        }
    }

    &__button {
       font-size: 2.4rem; 
       width: 2.4rem;
       height: 2.4rem;
       border-radius: 50%;
       text-align: center;
       line-height: 24px;
    }
    
    &__text {
        color: $grey-dark;
        font-weight: 500;
        font-size: 1.6rem;
    }
}