@import '../../styles/global.scss';

.header {
  display: flex;
  gap: 15px;
  align-items: baseline;
  padding: $todo-content-padding;
  padding-top: 0;

  &__text {
    font-size: $text-4xl;
  }

  &__date {
    font-size: $text-base;
    color: $grey-600;
  }
}
