@import "../index.scss";

.list {
    display: flex;
    flex-direction: column;

    &__item {
        display: flex;
        align-items: center;
        gap: 15px;
        font-size: 2rem;
        padding: 10px;
        border-radius: 4px;
        font-weight: 400;
        cursor: pointer;

        &:hover {
            background-color: $grey-light;
        }

        &__text {
            font-weight: inherit;
        }
    }
}

.active {
    font-weight: 800;
    background-color: $grey-light;
}