@import "./index.scss";

.header {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: $primary;
    height: $header-height;
    padding: 5px 20px;
    &__logo {
        display: flex;
        font-size: 2.4rem;
        color: $white;
        padding-bottom: 2px;
        cursor: pointer;
    }
    &__text {
        flex: 1;
        color: $white;

        & > h1 {
            font-size: 2.4rem;
        }
    }
    &__search {
        min-width: 300px;
    }

}

.search {
    position: relative;

    &__icon {
        position: absolute;
        left: 16px;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.6rem;
        font-weight: 200;
        color: gray;
        display: flex;
    }

    & > input {
        width: 100%;
        padding: 5px;
        padding-left: 30px;
        border-radius: 5px;
        border: 1px solid $grey-light;
        font-size: 1.6rem;
        outline: none;
    }
}